@import './reset';
@import './fonts';
@import './root';
@import './header';
@import './toTop';
@import './main';
@import './footer';
@import './button';
@import './card';

html {
  background-color: var(--white-005);
  scroll-behavior: smooth;
}

*:focus-visible {
  outline: 2px solid var(--green-050);
  outline-offset: 2px;
}
